<div class="controls">
  <button (click)="addBlueBall()" [disabled]="isDisabled()">
    Добавить синий шар
  </button>
  <button (click)="addRandomBall()" [disabled]="isDisabled()">
    Добавить шар случайного цвета
  </button>
  <button (click)="reset()">Сброс</button>
</div>

<div class="wrapper">
  <div class="container left-container">
    <h3>Синие шары</h3>
    @for(ball of leftBalls; track ball){
      <div
        class="ball"
        [style.backgroundColor]="ball.color"
      ></div>
    }
  </div>

  <div class="container right-container">
    <h3>Остальные шары</h3>
    @for(ball of rightBalls; track ball){
      <div
        class="ball"
        [style.backgroundColor]="ball.color"
      ></div>
    }
  </div>
</div>
