/* Переменные для цветов и настроек */
$primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$parent-border-color: #4CAF50;
$parent-gradient-start: #a8e6cf;
$parent-gradient-end: #dcedc1;
$parent-header-color: #388E3C;
$parent-data-bg: #81C784;

$child-border-color: #FF5722;
$child-gradient-start: #FFCDD2;
$child-gradient-end: #EF9A9A;
$child-header-color: #D84315;
$child-data-bg: #E57373;

$background-gradient1: #ff7e5f;
$background-gradient2: #feb47b;

/* Анимация фона */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Общие стили для всего приложения */
body {
  font-family: $primary-font;
  margin: 0;
  padding: 20px;
  /* Анимированный градиентный фон */
  background: linear-gradient(-45deg, $background-gradient1, $background-gradient2, #ffffff, #a1c4fd);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}
